.body {
  background-color: #e8f2fc;
}

.preview-pane {
  width: 350px;
  min-width: 300px;
  height: 330px;
  padding-top: 7px;
  /* margin-left: 20px; */
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  color: #0054a6;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  /* box-shadow: 0px 0px 5px 1px rgb(255, 255, 255); */
}

.properties-pane {
  width: 350px;
  min-width: 300px;
  height: 250px;
  padding-top: 7px;
  margin-top: 2px;
  /* margin-left: 20px; */
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  color: #0054a6;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  /* box-shadow: 0px 0px 5px 1px rgb(255, 255, 255); */
}

.information-pane {
  width: auto;
  min-width: 700px;
  height: 65px;
  margin-top: 2px;
  padding-left: 15px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  text-align: left;
  background-color: mediumseagreen;
  border-radius: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  /* box-shadow: 0px 0px 5px 1px mediumseagreen; */
}

.hr {
  width: 90%;
  color: rgb(160, 160, 160);
}

p {
  line-height: 5px;
}

.blocklyZoom>image,
.blocklyZoom>svg>image, .blocklyTrash {
  filter: sepia(1) hue-rotate(169deg) saturate(3) brightness(0.6);
  opacity: 1;
}



.blocklyFlyoutBackground {
  fill: white;
  stroke: rgb(223, 220, 220);
}

.injectionDiv {
  border-radius: 0.5rem;
}

.blocklyMainBackground {
  stroke-width: 1;
  stroke: #ffffff;
}

.zelos-renderer.classic-theme .blocklyText,
.zelos-renderer.classic-theme .blocklyFlyoutLabelText {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-weight: 100; */
  font-size: 22px;
}

.blocklyToolboxDiv {
  padding-top: 15px;
  background-color: #0054a6;
  height: 96.5%;
}

.blocklyTreeLabel {
  /*display: none;  if we need no text to appear*/
  color: white;
  font-size: 10px;
  font-weight: bold;
}

table {
  width: 100%;

  /* border-spacing: 0px; */
}

/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: 1em;
}

/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  /* height: 30px;
  width: 30px; // when using icons without text
  display: inline-block; */
  padding: 3px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(255, 255, 255);
}

/* Changes color of the icon to white. */
.customIcon {
  color: white;
}

/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding-top: 4px;
  padding-left: 2px;

}


.mdi {
  font-size: 20px;
}

